# Override default deny rule to make .htaccess file accessible over web
<Files ~ "^\.ht">
# Uncomment the line below for Apache2.4 and newer
Require all granted
    Order allow,deny
    Allow from all
</Files>

# Execute files with .php5 extension
AddType application/x-httpd-php .php5